# MONGO SETTINGS EXAMPLE
CONNECTION_STRING="mongodb+srv://<user>:<pass>.@<server>"
DATABASE='<databasename>'
COLLECTION='<collectionname>'

# SQLITE SETTINGS
# DATABASE_FILE_NAME=msc.db
# SQL="SELECT * FROM msc"

# MYSQL
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_SQL=